<h1>Gists controller, index action</h1>

<p>Edit this file in <tt>app/views/gists/index.html.erb</tt></p>

<table>
  <tr>
  </tr>

<% for gist in @gists %>
  <tr>
    <td><%= link_to 'Show', url(:gist, gist) %></td>
    <td><%= link_to 'Edit', url(:edit_gist,  gist) %></td>
    <td><%= delete_button :gist, gist %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New', url(:new_gist) %>
